.cover-editor {
    
    &__text {
        display: inline-flex;
        position: absolute;
        outline: 0 !important;
    }

    &__canvas {
        position: relative;
        background: white;
    }

}
