/**
 * Toolbar styles
 */
.cover-editor {

    &--hidden {
        display: none !important;
    }
    
}

.cover-editor__button {
    position: relative;
    width: 20px;
    height: 13px;
    padding: 15px 10px;
    border-color: #313542;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;

    &--active {
        opacity: 1 !important;
    }

    &--left {
        opacity: 0.5;
        background-image: url(../assets/icon-align-left.svg);
    }

    &--center {
        opacity: 0.5;
        background-image: url(../assets/icon-align-center.svg);
    }

    &--right {
        opacity: 0.5;
        background-image: url(../assets/icon-align-right.svg);
    }

    &--small {
        background-image: url(../assets/icon-font-size-small.svg);
    }


    &--medium {
        background-image: url(../assets/icon-font-size-medium.svg);
    }

    &--big {
        background-image: url(../assets/icon-font-size-big.svg);
    }


    &--color {
        display: flex !important;
        width: 13px;
        height: 13px;
        margin: 15px 10px;
        padding: 0px;
    }

}

.cover-editor__color-form {
    display: none;
    width: 110px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;

    &-color-form:focus {
        outline: none;
    }
}

.cover-editor__toolbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    border-radius: 5px;
    background: #313542;

    &--color-mode .cover-editor__button {
        display: none;
    }

    &--color-mode .cover-editor__color-form {
        display: flex;
        height: 20px;
        align-self: center;
        margin-left: 10px;
    }

}
