/**
 * Toolbar styles
 */
.cover-editor {

    &--hidden {
        display: none !important;
    }
    
}

.cover-editor__button {
    position: relative;
    border-color: #313542;
    margin: 15px 10px;

    &--active {
        opacity: 1;
    }

    display: inline-block;
    width: 20px;
    height: 13px;
    border-radius: 2px;
    font-size: 11px;
    overflow: hidden;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;

    &--left {
        background-image: url(../assets/icon-align-left.svg);
    }

    &--center {
        background-image: url(../assets/icon-align-center.svg);
    }

    &--right {
        background-image: url(../assets/icon-align-right.svg);
    }

    &--small {
        background-image: url(../assets/icon-font-size-small.svg);
    }


    &--medium {
        background-image: url(../assets/icon-font-size-medium.svg);
    }

    &--big {
        background-image: url(../assets/icon-font-size-big.svg);
    }


    &--color {
        display: inline-block !important;
        &::before {
            content: '';
        }
    }

}

.cover-editor__color-form {
    display: none;
    width: 110px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;

    &-color-form:focus {
        outline: none;
    }
}

.cover-editor__toolbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    border-radius: 5px;
    background: #313542;

    &--color-mode .cover-editor__button {
        display: none;
    }

    &--color-mode .cover-editor__color-form {
        display: flex;
    }

}
