
.coverGeneration {
	width: 100%;
	height: 100%;
	background: #F4F5FD;
	margin: none;
	padding: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.cover-generation__main-window {
	display: flex;
	flex-direction: column;
}

.cover-generation__buttons-div {
	width: 650px;
	height: 31px;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.cover-generation__headline-button {
	width: 101px;
	height: 31px;
	margin-left: 230px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;

	&::before {
		content: '';
		background: url('assets/icon-text.svg');
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 0.15em;
	}
}

.cover-generation__headline-button-text {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__mainline-button {
	width: 104px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;

	&::before {
		content: '';
		background: url('assets/icon-text.svg');
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 0.15em;
	}
}

.cover-generation__headline-button-text {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__imageline-button {
	width: 87px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;

	&::before {
		content: '';
		background: url('assets/icon-picture.svg');
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 0.15em;
	}
}

.cover-generation__imageline-button-text {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__save-button {
	width: 31px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #00E3AD;
	border-radius: 3px;
	background: #00E3AD;

	&::before {
		content: '';
		background: url('assets/icon-save.svg');
		display: inline-block;
		width: 13px;
		height: 13px;
		margin-right: 0.15em;
	}
}

.cover-generation__square-button {
	width: 14px !important;
	height: 16px;
	margin-top: 8px;
	border: 2px solid #9EAECD;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__horisont-button {
	width: 20px;
	height: 16px;
	margin-left: 5px;
	margin-top: 8px;
	border: 2px solid #3C93F5;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__vert-button {
	width: 13px;
	height: 22px;
	margin-top: 5px;
	margin-left: 5px;
	border: 2px solid #9EAECD;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__main-form {
	width: 655px;
	height: 375px;
	margin: auto;
	border: 2.5px dashed #D6E5F9;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cover-generation__svg-main-form {
	width: 650px;
	height: 375px;
	margin: auto;
}
