html {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

body {
	margin: 0 !important;
	width: 100% !important;
	height: 100% !important;
}

#Cover-generation {
	width: 100%;
	height: 100%;
	background: #F4F5FD;
	margin: none;
	padding: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.cover-generation__mainWindow {
	display: flex;
	flex-direction: column;
}

.cover-generation__buttonsDiv {
	width: 650px;
	height: 31px;
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.cover-generation__headButton {
	width: 101px;
	height: 31px;
	margin-left: 230px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;
}

.cover-generation__imgHeadButton {
	width: 13px;
	height: 13px;
	position: relative;
	left: -8px;
	top: 1px;
}

.cover-generation__textHeadButton {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__mainButton {
	width: 104px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;
}

.cover-generation__imgMainButton {
	width: 13px;
	height: 13px;
	position: relative;
	left: -8px;
	top: 1px;
}

.cover-generation__textMainButton {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__imageButton {
	width: 87px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #D6E5F9;
	border-radius: 3px;
	background: #D6E5F9;
}

.cover-generation__imgButtonImage {
	width: 13px;
	height: 13px;
	position: relative;
	left: -9px;
	top: 1px;
}

.cover-generation__textImageButton {
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;;
	color: #8997B7;
}

.cover-generation__saveButton {
	width: 31px;
	height: 31px;
	margin-left: 10px;
	border: 1px solid #00E3AD;
	border-radius: 3px;
	background: #00E3AD;
}

.cover-generation__saveButtonImage {
	width: 13px;
	height: 13px;
	position: relative;
	top: 2px;
}

.cover-generation__squareButton {
	width: 14px !important;
	height: 16px;
	margin-top: 8px;
	border: 2px solid #9EAECD;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__horisontButton {
	width: 20px;
	height: 16px;
	margin-left: 5px;
	margin-top: 8px;
	border: 2px solid #3C93F5;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__vertButton {
	width: 13px;
	height: 22px;
	margin-top: 5px;
	margin-left: 5px;
	border: 2px solid #9EAECD;
	background: #F4F5FD;
	border-radius: 3px;
}

.cover-generation__mainForm {
	width: 655px;
	height: 375px;
	margin: auto;
	border: 2.5px dashed #D6E5F9;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cover-generation__svgMainForm {
	width: 650px;
	height: 375px;
	margin: auto;
}
