.cover_editor__text {
    font-family: -apple-system ".SFNSText-Regular" "San Francisco" "Roboto" "Segoe UI" "Helvetica Neue" "Lucida Grande" sans-serif;
}

.cover_editor__text_active {
    border: 1px dashed #3c93f5;
}

.cover_editor__text_font_size_small {
    font-weight: 600;
    font-size: 20px;
}

.cover_editor__text_font_size_medium {
    font-weight: 900;
    font-size: 27px;
}

.cover_editor__text_font_size_big {
    font-family: 900;
    font-size: 37px;
}