@font-face
{
    font-family: "SFUI-Bold";
    src: url(../font/SFUIText-Bold.otf);
}

@font-face
{
    font-family: "SFUI-Heavy";
    src: url(../font/SFUIText-Heavy.otf);
}

span.active
{
    border: 1px dashed #3c93f5
}

span.font-size-small
{
    font-family: "SFUI-Bold";
    font-size: 20px;
}

span.font-size-medium
{
    font-family: "SFUI-Heavy";
    font-size: 27px;
}

span.font-size-big
{
    font-family: "SFUI-Heavy";
    font-size: 37px;
}