.cover_editor__hidden {
    display: none;
}

.cover_editor__toolbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    padding: 5px 0;
    border-radius: 5px;
    background: #313542;
    transition: left 1s, top 1s, opacity 1s;

    &__icon {
        position: relative;
        border: none;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        opacity: 0.4;
        background: rgba(0, 0, 0, 0) center no-repeat;
        transition: opacity 0.5s;

        &__active {
            opacity: 1;
        }
    }

    &__icon:hover {
        opacity: 0.7;
    }
    
    &__icon:focus {
        outline: none;
    }

    &__button_left {
        background-image: url(../img/left.png);
    }
    
    &__button_center {
        background-image: url(../img/center.png);
    }

    &__button_right {
        background-image: url(../img/right.png);
    }

    &__button_font_size_small {
        opacity: 1;
        background-image: url(../img/font-size-small.png);
        transition: background 0.5s;
    }

    &__button_font_size_medium {
        background-image: url(../img/font-size-medium.png);
    }

    &__button_font_size_big {
        background-image: url(../img/font-size-big.png);
    }

    &__button_color {
        opacity: 1;
        background-color: black;
        border-radius: 5px;
    }

    &__input_color_form {
        display: none;
        width: 110px;
        margin: 0 5px;
        border: none;
        border-radius: 5px;
    }

    &__input_color_form:focus {
        outline: none;
    }
}